# vendor/.gitignore
*
!/.gitignore
!DamageNotification/
!DamageNotification/*
!eTweaks_Chamber_ROSIGMA/
!eTweaks_Chamber_ROSIGMA/*
!eTweaks_Crafts_ROSIGMA/
!eTweaks_Crafts_ROSIGMA/*
!eTweaks_DarkAngels_ROSIGMA/
!eTweaks_DarkAngels_ROSIGMA/*
!eTweaks_Facilities_ROSIGMA/
!eTweaks_Facilities_ROSIGMA/*
!eTweaks_Names_ROSIGMA/
!eTweaks_Names_ROSIGMA/*
!eTweaks_PositionMarkers/
!eTweaks_PositionMarkers/*
!eTweaks_Ranks_ROSIGMA/
!eTweaks_Ranks_ROSIGMA/*
!eTweaks_RhinoGK_ROSIGMA/
!eTweaks_RhinoGK_ROSIGMA/*
!eTweaks_TopRight_ROSIGMA/
!eTweaks_TopRight_ROSIGMA/*
!eTweaks_UI_40K/
!eTweaks_UI_40K/*
!eTweaks_Weapons_ROSIGMA/
!eTweaks_Weapons_ROSIGMA/*
!RecoveryTimeRevamped/
!RecoveryTimeRevamped/*
!eTweaks_MarinesOverhaul_ROSIGMA/
!eTweaks_MarinesOverhaul_ROSIGMA/*
!eTweaks_GrenadesOverhaul_ROSIGMA/
!eTweaks_GrenadesOverhaul_ROSIGMA/*